<div id="box">
    <div>
        <h3><i>Frontend Development</i></h3>
        <img  id="fs1" src="../../assets/image/frontend1.png" alt="frontend skills"  >
        <div>
        <b><i>Frontend Development</i></b>
         is a process where a Person or Developer has an ability to develop client side of an Web Application.
          who performs task such as designing of website,web pages etc.
             <ul>
                    <li>Writing code using <b><i>tags , attributes ,elements</i></b>.</li>
                    <li>Arranging  <b><i>code</i></b> as per clients view. </li>
                    <li>attaching css to make <b><i>website attractive</i></b>
                        <ol type="i">
                            <li>it can be attached external in an file ends with or save that file with .css extension.</li>
                            <li>it can be attached internal inside style in head of html code.</li>
                            <li>it can be given inline as per requriment inside an  opening tag.</li>
                        </ol> </li>  
             </ul>
             <p>So, as mentioned above person or developer who has knowledge of these skills such as 
                 <i>designing of website and technologies such as <i>hyper text markup language, cascading style sheet , javascript</i> is called as 
                     <b>frontend developer</b>.</i> They also posses different types of skills such as managing 
                     and developemrnt of websites using different frameworks and frontend tools.</p>
    </div>
</div>
<br>
<br>
<br>
<div>
    <h3><i>HyperText Markup language</i></h3>
    <div id="img">
    <img   src="../../assets/image/html.jpg" alt="html"  >
    </div>
    <p><b><i>html</i></b>
     (Hypertext Markup Language)
     is the code that is used to 
     structure a web page and its content.
      For example, content could be structured 
      within a set of paragraphs, a
       list of bulleted points, or using 
       images and data tables.</p>

</div>
<hr>
<div>
    <h3><i>Cascading style sheet</i></h3>
    <div id="img">
    <img  src="../../assets/image/css.jpg" alt="css"  >
    </div>
    <p>
    <b><i>css</i></b> stands for cascading style sheets. ... It's a stylesheet 
    language that describes the appearance or presentation of a website. 
    Essentially, CSS tells web browsers how each element in an HTML document should be displayed.</p>
</div>
<hr>
<div>
    <h3><i>JavaScript</i></h3>
    <div id="img">
    <img  src="../../assets/image/javascript.png" alt="javascript"  >
</div>
<p>
    <b><i>javascript</i></b>is a text-based programming language used both 
    on the client-side and server-side that allows you to make web pages 
    interactive. Where HTML and CSS are languages that give structure and 
    style to web pages, JavaScript gives web pages interactive elements that engage a user.</p>
</div>