<br>
<br>
<div id="box">
    <h3><i>Resources for developers to learn and practice</i></h3>
</div>
<section id="abc">
<div>
    <h6>learning resources for developers search below sites on browser</h6>
    <ul>
        <li><a href="">freecodecamp</a></li>
        <li><a href="">w3schools</a></li>
        <li><a href="">javapoint</a></li>
        <li><a href="">alison</a></li>
        <li><a href="">udemy</a></li>
        <li><a href="">edx</a></li>
        <li><a href="">codecademy</a></li>
        <li><a href="">thenewboston</a></li>
        <li><a href="">mozilla developer network</a></li>
        <li><a href="">khan academy</a></li>
        <li><a href="">hacker rank</a></li>
        <li><a href="">hacker earth</a></li>
        <li><a href="">geeks of geeks</a></li>
        <li><a href="">codementor</a></li>
        <li><a href="">html dog</a></li>
        <li><a href="">Traversy media</a></li>
    </ul>
</div>
<br><br>
<div>
    <div id="a">
        <img src="../../../assets/image/projects...jpg" alt="projects">
    </div>
    <h6> projects for web-developers</h6>
    <ul>
        <li>one page layout</li>
        <li> login authentication</li>
        <li>product landing page</li>
        <li>javascript quiz game</li>
        <li>survey form</li>
        <li>note log</li>
        <li>countdown timer</li>
        <li>address book</li>
        <li>word counter</li>
        <li>to-do-list</li>
        <li>javascript drawing</li>
        <li>tribute page</li>
    </ul>
</div>
</section>
