<div id="box">
    <h5><i>Books for developers</i></h5>

</div>

<div class="row">
  <div class="column">
    <div class="card"><h2> c Programming by Brian</h2>    
      <a href = "../../../assets/media/pdf/The C Programming Language- Brian W. Kernighan, Dennis M. Ritchie.pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> Introduction to algorithms</h2>    
      <a href = "../../../assets/media/pdf/Introduction to Algorithms, Third Edition ( PDFDrive ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> competitive Programming</h2>    
      <a href = "../../../assets/media/pdf/Guide-to-Competitive-Programming-Learning-and-improving-Algorithms-through-Contests.pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card">
      <h2> data structure and algorithms</h2>    
      <a href = "../../../assets/media/pdf/Data Structure and Algorithmic Thinking with Python  Data Structure and Algorithmic Puzzles ( PDFDrive ).pdf" download >  
       <b> Download pdf</b>  
      </a>  
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="column">
    <div class="card"><h2> Ruby on rails</h2>    
      <a href = "../../../assets/media/pdf/Ruby on Rails™ Tutorial ( PDFDrive.com ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> Swift Tutorial</h2>    
      <a href = "../../../assets/media/pdf/swift_tutorial.pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> javascript</h2>    
      <a href = "../../../assets/media/pdf/javascript.pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card">
      <h2> machine learning </h2>    
      <a href = "../../../assets/media/pdf/Machine-Learning-Tom-Mitchell.pdf" download >  
       <b> Download pdf</b>  
      </a>  
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="row">
  <div class="column">
    <div class="card"><h2> The self taught programmer</h2>    
      <a href = "../../../assets/media/pdf/The Self-Taught Programmer_ The Definitive Guide to Programming Professionally ( PDFDrive.com ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> python Tutorial</h2>    
      <a href = "../../../assets/media/pdf/python_tutorial.pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> mastering photoshop design</h2>    
      <a href = "../../../assets/media/pdf/Mastering Photoshop for Web Design ( PDFDrive.com ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card">
      <h2> django documentation </h2>    
      <a href = "../../../assets/media/pdf/django documentation.pdf" download >  
       <b> Download pdf</b>  
      </a>  
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="column">
    <div class="card"><h2> html and css with w3schools</h2>    
      <a href = "../../../assets/media/pdf/Learn HTML and CSS with w3schools ( PDFDrive ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> Angular</h2>    
      <a href = "../../../assets/media/pdf/Angular_ Up and Running_ Learning Angular, Step by Step ( PDFDrive ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card"><h2> flask </h2>    
      <a href = "../../../assets/media/pdf/Flask Web Development_ Developing Web Applications with Python ( PDFDrive ).pdf" download >  
       <b> Download pdf </b>  
      </a>  </div>
  </div>
  <div class="column">
    <div class="card">
      <h2> PHP </h2>    
      <a href = "../../../assets/media/pdf/Core PHP Programming Using PHP to Build Dynamic Web Sites ( PDFDrive ).pdf" download >  
       <b> Download pdf</b>  
      </a>  
    </div>
  </div>
</div>